
* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    letter-spacing: 0.04em;
    font-family: 'DM Sans', sans-serif;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    max-width: 480px
}

@media screen and (min-width: 768px) {
    .container {
        max-width:768px;
        padding: 0 35px
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width:1280px;
        padding: 0 115px
    }
}

.section-contacts__title.hidden {
    margin-top: -110px;
    display: flex
}

.section-contacts {
    margin: auto;
    padding: 0 0 113px;
    background-color: #fff5f6;
}

.section-contacts__contact {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .section-contacts {
        margin:auto;
        padding: 0 0 165px
    }
}

.section-contacts>.container {
    margin: auto;
    padding: 0 50px;
}

@media screen and (min-width: 1280px) {
    .section-contacts>.container {
        margin:auto;
        padding: 0 115px
    }
}

@media screen and (min-width: 1280px) {
    .section-contacts>.container {
        background-image:url(/sectionbg2.57e50061.jpg);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain
    }
}

.section-contacts__item {
    background-color: #fff;
    padding: 43px 20px;
    border-radius: 24px;
    box-shadow: 0 8px 30px rgba(212,20,67,.1);
    transition: all .3s linear;
    display: flex;
    flex-direction: column;
    z-index: 20
}

.__contacts {
    text-decoration: none;
}

.section-contacts__item:hover {
    box-shadow: 0 8px 30px rgba(144,35,62,.632);
    cursor: pointer
}

.section-contacts__item:not(:last-child) {
    margin-bottom: 20px
}

.section-contacts__item:last-child {
    margin-bottom: 54px
}

@media screen and (min-width: 320px) {
    .section-contacts__item {
        margin:0 auto
    }
}

@media screen and (min-width: 768px) {
    .section-contacts__item {
        margin:-78px auto 0;
        padding: 50px 29px
    }

    .section-contacts__item:last-child {
        margin-bottom: 0
    }

    .section-contacts__item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 20px
    }
}

@media screen and (min-width: 1280px) {
    .section-contacts__item {
        flex-basis:33.33333%;
        padding: 50px 43px 62px;
        margin-top: -102px
    }

    .section-contacts__item:last-child {
        margin-bottom: 0
    }

    .section-contacts__item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 30px
    }

    .section-contacts__item:hover {
        box-shadow: 0 8px 30px rgba(144,35,62,.632);
        cursor: pointer
    }
}

@media screen and (max-width: 768px) {
    .section-contacts__cart-list {
        display:flex;
        flex-direction: column
    }
}

@media screen and (min-width: 768px) {
    .section-contacts__cart-list {
        display:flex;
        margin-bottom: 81px;
        flex-direction: row
    }
}

@media screen and (max-width: 768px) {
    .section-contacts__item-minus {
        display:flex;
        margin-top: -84px
    }
}

.section-contacts__place {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 16px;
    margin-bottom: 25px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    font-family: DM Sans,sans-serif;
    letter-spacing: .04em;
    line-height: -height;
    font-size: -size;
    font-weight: -weight
}

.section-contacts__place.one {
    background-color: #f0d1a5
}

.section-contacts__place.two {
    background-color: #c2e297;
    width: 130px
}

.section-contacts__place.three {
    background-color: #f0d1a5
}

@media screen and (min-width: 768px) {
    .section-contacts__place {
        display:flex;
        width: 73px;
        height: 28px;
        line-height: 186%;
        justify-content: center;
        align-items: center
    }
}

.section-contacts__subtitle {
    font-family: DM Sans,sans-serif;
    letter-spacing: -spacing;
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px
}

@media screen and (min-width: 768px) {
    .section-contacts__subtitle {
        margin-bottom:14px;
        font-size: 14px
    }
}

@media screen and (min-width: 1280px) {
    .section-contacts__subtitle {
        margin-bottom:10px;
        font-family: DM Sans,sans-serif;
        letter-spacing: -spacing;
        line-height: 183%;
        font-size: 16px;
        font-weight: -weight
    }
}

.section-contacts__subtitle.day {
    margin-bottom: 0
}

.section-contacts__text {
    font-family: DM Sans,sans-serif;
    letter-spacing: -spacing;
    line-height: 23px;
    font-size: 12px;
    font-weight: -weight;
    color: #907e82;
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 25px
}

@media screen and (min-width: 768px) {
    .section-contacts__text {
        margin-bottom:32px;
        font-family: DM Sans,sans-serif;
        letter-spacing: -spacing;
        line-height: 23px;
        font-size: 14px;
        font-weight: -weight
    }
}

@media screen and (min-width: 1280px) {
    .section-contacts__text {
        margin-bottom:32px;
        font-family: DM Sans,sans-serif;
        letter-spacing: -spacing;
        line-height: 183%;
        font-size: 16px;
        font-weight: -weight
    }
}

.section-contact__time-information {
    font-family: DM Sans,sans-serif;
    letter-spacing: -spacing;
    line-height: 186%;
    font-size: 12px;
    font-weight: 500;
    color: #ffa5ba;
    margin-bottom: 10px
}

@media screen and (min-width: 768px) {
    .section-contact__time-information {
        margin-bottom:16px;
        font-size: 13.9px
    }
}

@media screen and (min-width: 1280px) {
    .section-contact__time-information {
        margin-bottom:15px;
        font-family: DM Sans,sans-serif;
        letter-spacing: -spacing;
        line-height: 183%;
        font-size: 16px;
        font-weight: -weight
    }
}

.section-contacts__schedule {
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 25px
}

@media screen and (min-width: 1280px) {
    .section-contacts__schedule {
        margin-bottom:32px
    }
}

.section-contacts__contact {
    font-family: DM Sans,sans-serif;
    letter-spacing: -spacing;
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    color: #907e82
}

@media screen and (min-width: 768px) {
    .section-contacts__contact {
        display:flex;
        flex-direction: column;
        font-size: 14px
    }
}

@media screen and (min-width: 1280px) {
    .section-contacts__contact {
        display:flex;
        flex-direction: column;
        font-size: 16px
    }
}

.section-contacts__contact:not(:last-child) {
    margin-bottom: 10px
}

.section-contact__btn {
    font-family: DM Sans,sans-serif;
    letter-spacing: -spacing;
    line-height: 21px;
    font-size: 16px;
    font-weight: 700;
    width: 161.45px;
    height: 44px;
    border-radius: 22px;
    transition: all .25s linear;
    border-color: none;
}

.section-contact__btn.one {
    background: #d41342;
    color: #fff;
    margin-bottom: 10px;
    border: 0px;
}

@media screen and (min-width: 768px) {
    .section-contact__btn.one {
        margin-right:15px;
        width: 174px
    }

    .section-contact__btn.one:hover {
        transform: translateY(-10px)
    }
}

@media screen and (min-width: 1280px) {
    .section-contact__btn.one {
        width:180px
    }

    .section-contact__btn.one:hover {
        transform: translateY(-10px)
    }
}

.section-contact__btn.two {
    background: #fff;
    color: #d41443;
    border: 0px;
}

@media screen and (min-width: 768px) {
    .section-contact__btn {
        width:191.45px
    }

    .section-contact__btn:hover {
        transform: translateY(-10px)
    }
}

@media screen and (min-width: 1280px) {
    .section-contact__btn {
        width:198px
    }

    .section-contact__btn:hover {
        transform: translateY(-10px)
    }
}

.section-contact__btn-list {
    text-align: center
}

@media screen and (min-width: 768px) {
    .section-contact__btn-list {
        display:flex;
        justify-content: center;
    }
}

.btn-icon {
    width: 10px;
    height: 10px;
    margin-left: 13px
}

.btn-icon.one {
    stroke: #fff
}

@media screen and (min-width: 320px) and (max-width:768px) {
    .btn-icon.one {
        margin-left:8px
    }
}

.btn-icon.two {
    stroke: #d41443
}

.backdrop {
    position: fixed;
    z-index: 99;
    visibility: visible;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 93px 15px;
    background-color: rgba(0,0,0,.2);
    opacity: 1;
    transition: opacity .25s cubic-bezier(.4,0,.2,1),visibility .25s cubic-bezier(.4,0,.2,1)
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    max-width: 450px;
    height: 610px;
    border: 3px solid #ffb8ca;
    background-color: #fff;
    border-radius: 4px;
    padding: 40px
}

@media screen and (max-width: 465px) {
    .modal {
        box-sizing:content-box
    }
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 30px;
    max-height: 30px;
    border: 1px solid #ffb8ca;
    border-radius: 50%;
    background-color: #fff;
    transition: all .25s linear
}

.modal__close-btn:hover {
    background-color: #ffb8ca;
}

.modal__icon-close {
    stroke: #ffb8ca;
}

.modal__icon-close:hover {
    stroke: #fff;
}

.modal__title {
    text-align: center;
    font-family: DM Sans,sans-serif;
    letter-spacing: .03em;
    line-height: -height;
    font-size: 25px;
    font-weight: 700;
    color: #d41443;
    margin-bottom: 12px
}

.modal__map {
    display: flex;
    justify-content: center;
    border: 2px solid #ffb8ca;
    border-radius: 4px;
    max-width: 370px;
    height: 410px;
    margin-bottom: 20px
}

.modal__adress {
    color: #d41443;
    margin-bottom: 15px;
    font-size: 17px
}

.modal_map-btn {
    font-family: DM Sans,sans-serif;
    letter-spacing: -spacing;
    line-height: 21px;
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto;
    max-width: 200px;
    height: 44px;
    border-radius: 22px;
    background-color: #fff;
    border: 2px solid #ffb8ca;
    padding: 0 15px;
    color: #ffb8ca;
    transform: scale(1);
    transition: all .25s linear;
}

.modal_map-btn:hover {
    transform: scale(1.25);
    background-color: #ffb8ca;
}

.modal_map-btn:hover>.modal_btn-text {
    color: #fff

}

.modal_btn-text {
    color: #d41443;
    text-decoration: none;
}

.modal__google-maps {
    width: 100%;
    height: 100%
}

.modal-fr {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 450px;
    max-height: 610px;
    border-radius: 4px;
    border: 3px solid #ffb8ca;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px rgba(0,0,0,.14),0 2px 1px rgba(0,0,0,.2)
}

.modal-fr__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #ffb8ca;
    border-radius: 50%;
    background-color: #fff;
    stroke: #ffb8ca
}

.modal-fr__close-btn:hover {
    stroke: #fff;
    background-color: #ffb8ca
}

.modal-fr__title {
    text-align: center;
    letter-spacing: .03em;
    line-height: -height;
    font-size: 20px;
    margin-bottom: 12px
}

.modal-fr__send-btn,.modal-fr__title {
    font-family: DM Sans,sans-serif;
    font-weight: 700;
    color: #d41443
}

.modal-fr__send-btn {
    letter-spacing: -spacing;
    line-height: 21px;
    font-size: 16px;
    max-width: 200px;
    height: 44px;
    border-radius: 22px;
    background-color: #fff;
    border: 2px solid #ffb8ca;
    transform: scale(1);
    transition: all .25s linear;
    padding: 0 20px
}

.modal-fr__send-btn:hover {
    transform: scale(1.25);
    background-color: #ffb8ca;
    color: #fff
}

.modal-fr__close-btn:hover .modal__icon-close {
    fill: #ffb8ca;
    cursor: pointer
}

.modal-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%
}

.modal-inputs__input {
    height: 40px;
    width: 100%;
    padding-left: 40px
}

.modal-inputs__input,.modal-inputs__textarea {
    border: 1px solid rgba(33,33,33,.2);
    border-radius: 4px;
    transition: all .25s cubic-bezier(.4,0,.2,1)
}

.modal-inputs__textarea {
    padding: 12px 16px;
    height: 120px;
    resize: none;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: .01em;
    color: hsla(0,0%,45.9%,.5);
    margin-bottom: 20px
}

.modal-inputs__textarea:not(:placeholder-shown) {
    color: #000
}

.modal-inputs__label,.modal-inputs__textarea-label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: .01em;
    color: #757575
}

.modal-inputs__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    width: 18px;
    height: 18px
}

.modal-inputs:focus-within .modal-inputs__input,.modal-inputs:focus-within .modal-inputs__textarea {
    outline: none;
    border-color: #ffb8ca
}

.modal-inputs:focus-within .modal-inputs__icon {
    fill: #ffb8ca
}

.modal-inputs:hover .modal-inputs__input,.modal-inputs:hover .modal-inputs__textarea {
    outline: none;
    border-color: #ffb8ca
}

.input-wrraper {
    position: relative
}

.send-btn-wrapper {
    width: 100%;
    text-align: center
}
